In [1]:
import pandas as pd
import numpy as np
import bs4
import urllib.request as url

In [48]:
page=url.urlopen('http://stats.espncricinfo.com/india/engine/records/batting/most_runs_career.html?class=1;id=6;type=team')

In [49]:
print(page)

<http.client.HTTPResponse object at 0x7f2c05869b00>

In [50]:
soup = bs4.BeautifulSoup(page,'lxml')

In [51]:
data = soup.find_all('table', class_='engineTable')

In [52]:
# Check what data is coming
for t in data:
    print(t.text)

Most runs


Player
Span
Mat
Inns
NO
Runs
HS
Ave
100
50
0




SR Tendulkar
1989-2013
200
329
33
15921
248*
53.78
51
68
14


R Dravid
1996-2012
163
284
32
13265
270
52.63
36
63
7


SM Gavaskar
1971-1987
125
214
16
10122
236*
51.12
34
45
12


VVS Laxman
1996-2012
134
225
34
8781
281
45.97
17
56
14


V Sehwag
2001-2013
103
178
6
8503
319
49.43
23
31
16


SC Ganguly
1996-2008
113
188
17
7212
239
42.17
16
35
13


DB Vengsarkar
1976-1992
116
185
22
6868
166
42.13
17
35
15


M Azharuddin
1984-2000
99
147
9
6215
199
45.03
22
21
5


V Kohli
2011-2018
71
122
8
6147
243
53.92
23
19
7


GR Viswanath
1969-1983
91
155
10
6080
222
41.93
14
35
10


N Kapil Dev
1978-1994
131
184
15
5248
163
31.05
8
27
16


MS Dhoni
2005-2014
90
144
16
4876
224
38.09
6
33
10


CA Pujara
2010-2018
62
105
8
4809
206*
49.57
15
18
5


M Amarnath
1969-1988
69
113
10
4378
138
42.50
11
24
12


G Gambhir
2004-2016
58
104
5
4154
206
41.95
9
22
7


M Vijay
2008-2018
59
101
1
3933
167
39.33
12
15
7


RJ Shastri
1981-1992
80
121
14
3830
206
35.79
11
12
9


PR Umrigar
1948-1962
59
94
8
3631
223
42.22
12
14
5


VL Manjrekar
1951-1965
55
92
10
3208
189*
39.12
7
15
11


NS Sidhu
1983-1999
51
78
2
3202
201
42.13
9
15
9


AM Rahane
2013-2018
50
86
9
3150
188
40.90
9
14
6


CG Borde
1958-1969
55
97
11
3061
177*
35.59
5
18
13


MAK Pataudi
1961-1975
46
83
3
2793
203*
34.91
6
16
7


SMH Kirmani
1976-1986
88
124
22
2759
102
27.04
2
12
7


FM Engineer
1961-1975
46
87
3
2611
121
31.08
2
16
7


A Kumble
1990-2008
132
173
32
2506
110*
17.77
1
5
17


P Roy
1951-1960
43
79
4
2442
173
32.56
5
9
14


S Dhawan
2013-2018
34
58
1
2315
190
40.61
7
5
4


R Ashwin
2011-2018
62
89
12
2289
124
29.72
4
11
3


Harbhajan Singh
1998-2015
103
145
23
2224
115
18.22
2
9
19


VS Hazare
1946-1953
30
52
6
2192
164*
47.65
7
9
4


AL Wadekar
1966-1974
37
71
3
2113
143
31.07
1
14
7


MH Mankad
1946-1959
44
72
5
2109
231
31.47
5
6
7


CPS Chauhan
1969-1981
40
68
2
2084
97
31.57
0
16
6


K Srikkanth
1981-1992
43
72
3
2062
123
29.88
2
12
7


ML Jaisimha
1959-1971
39
71
4
2056
129
30.68
3
12
9


SV Manjrekar
1987-1996
37
61
6
2043
218
37.14
4
9
3


DN Sardesai
1961-1972
30
55
4
2001
212
39.23
5
9
4


AD Gaekwad
1974-1985
40
70
4
1985
201
30.07
2
10
4


W Jaffer
2000-2008
31
58
1
1944
212
34.10
5
11
6


Yuvraj Singh
2003-2012
40
62
6
1900
169
33.92
3
11
7


KL Rahul
2014-2018
29
48
1
1811
199
38.53
5
11
4


NJ Contractor
1955-1962
31
52
1
1611
108
31.58
1
11
2


Yashpal Sharma
1979-1983
37
59
11
1606
140
33.45
2
9
4


M Prabhakar
1984-1995
39
58
9
1600
120
32.65
1
9
3


SM Patil
1980-1984
29
47
4
1588
174
36.93
4
7
4


RG Sharma
2013-2018
25
43
6
1479
177
39.97
3
9
4


NR Mongia
1994-2001
44
68
8
1442
152
24.03
1
6
6


RG Nadkarni
1955-1968
41
67
12
1414
122*
25.70
1
7
6


S Ramesh
1999-2001
19
37
1
1367
143
37.97
2
8
3






   By default, the shading indicates records from the past week, or failing that, the most recent entry.




Adjust:
most recent
   | past week
   | past month
   | past 6 months
   | past year
   | 4 years
   | 10 years
   | 25 years






Records includes the following current or recent matches:




England v India at The Oval, 5th Test, Sep 7-11, 2018
[Test # 2318]




England v India at Southampton, 4th Test, Aug 30-Sep 2, 2018
[Test # 2317]




England v India at Nottingham, 3rd Test, Aug 18-22, 2018
[Test # 2316]

In [53]:
dataset = []
for t in data:
    dataset.append(t.text)

In [56]:
# print(dataset)
final_data=[]
final_data=dataset[0].split('\n\n')

In [64]:
del final_data[0]
ult_data=[]
for row in final_data:
    ult_data.append(row.split('\n'))
df = pd.DataFrame(ult_data)

In [65]:
# Print top 5
df.head()

  0            1          2    3    4   5      6     7      8   9   10  11
0        R Dravid  1996-2012  163  284  32  13265   270  52.63  36  63   7
1     SM Gavaskar  1971-1987  125  214  16  10122  236*  51.12  34  45  12
2      VVS Laxman  1996-2012  134  225  34   8781   281  45.97  17  56  14
3        V Sehwag  2001-2013  103  178   6   8503   319  49.43  23  31  16
4      SC Ganguly  1996-2008  113  188  17   7212   239  42.17  16  35  13